/* Page style */
body {
  font-family: "Lucidia Grande", "Segoe UI", "Roboto", sans-serif;
  font-size: 1.2em;
  margin: 0;
  background-color: #fefefe;
}

.container {
  max-width: 1250px;
  position: relative;
  margin: 0 auto;
}

.content {
  padding: 20px 30px;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 30px;
}

/* Typography */
.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 30px 0 30px
}

p {
  margin: 10px 0;
  text-align: center;
}

a {
  color: inherit;
}

img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  font-align: center;
  color: #333;
  background-color: #fafafa;
  padding: 3px 5px; 
  border: #ccc 1px solid;
  text-decoration: none;
}

.btn:focus {
  border: #888 1px solid;
}
